#logoText {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 39px;
    letter-spacing: -2.8px;
    word-spacing: -3.8px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.button {
    margin: 10px;
}

img {
    margin: 10px;
    border-radius: 20px;
    height: 545px;
    width: 418px;
}

#renderResult {
    margin-right: 40px;
    /* border: 2px dashed #ccc; */
    border-radius: 20px;
    height: 495px;
    width: 368px;
}